@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input{ @apply w-full border rounded-xl px-3 py-2 text-sm border-slate-200 focus:outline-none focus:ring-2 focus:ring-indigo-200; }
.btn-primary{ @apply px-3 py-2 rounded-xl bg-indigo-600 text-white text-sm hover:bg-indigo-700; }
.btn-secondary{ @apply px-3 py-2 rounded-xl border border-slate-200 text-sm hover:bg-slate-50; }


::-webkit-calendar-picker-indicator {
  opacity: 0;           
  width: 100%;          
  height: 100%;
  position: absolute;   
  cursor: pointer;
}

::-moz-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

